NEXT_PUBLIC_STRIPE_PAYMENT_LINK=https://buy.stripe.com/test_XXX
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

SHOPIFY_WEBHOOK_SECRET=shopify_webhook_secret
SHOPIFY_API_VERSION=2025-10

LEMON_SQUEEZY_WEBHOOK_SECRET=lemon_webhook_secret
